<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Electron Deks Apps</title>
</head>

<body>
    <!-- Header -->
    <header class="spacersection">
        <div class="container">
            <nav class="navbar">
                <div class="navbar-nav d-flex ai-center jc-spacebetween">
                    <div class="logo">
                        <h1>
                            <a href="#">Dashboard</a>
                        </h1>
                    </div>
                    <div class="navbar-menu">
                        <a href="#">Home</a>
                        <a href="#">FAQ</a>
                    </div>
                    <div class="navbar-status">
                        <p>Connection status: <strong id='status'></strong></p>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- End Header -->

    <!-- Main Process -->
    <main>
        <section>
            <div class="spacersection"></div>
            <div class="container">
                <div class="table-responsive">
                    <caption>List of Users Databases</caption>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">NIM/NPM</th>
                                <th scope="col">Nama Mahasiswa</th>
                                <th scope="col">Program Studi</th>
                                <th scope="col">Semester</th>
                                <th scope="col">No WhatsApp</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            <!-- row in databases view in here -->
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>
    <!-- End Main Process -->

    <!-- Footer -->
    <footer class="spacersection">
        <!-- Copyright -->
        <div class="copyright">
            <div class="container">
                <p>2023 &copy; Peduthui. All right Reserved</p>
            </div>
        </div>
        <!-- End Copyright -->
    </footer>
    <!-- End Footer -->

    <script src="../js/renderer.js"></script>
</body>

</html>